@font-face {
  font-family: "Raleway";
  font-style: bold;
  font-weight: 800;
  src: url("fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: bold;
  font-weight: 700;
  src: url("fonts/rubik/rubik-700.woff2") format("woff2");
}

.visually-hidden {
  display: none;
}

body {
margin: auto;
display: flex;
flex-direction: column;
min-height: 100%;
font-family: "Rubik", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 18px;
line-height: 30px;
}

.header-wrapper {
  display: flex;
  justify-content: center;
  background-color:#FFE17F;
  margin: 0 auto;
  width: 1160px;
  height: 300px;
  margin-top: 40px;
}

.user-menu {
  margin: 0 auto;
  width: 1040px;
}

.page-header {
  margin: -20px 140px;
  width: 1160px;
  display: flex;
  justify-content: center;
}

.page-header-logo {
  margin-left: 60px;
}

.first-line-menu {
  display: flex;
  flex-wrap: no-wrap;
  margin-top: 30px;
}

.search-section {
  display: flex;
  margin-left: 60px;
  width: 517px;
  position: relative;
}

.form-search {
  width: 359px;
  height: 40px;
  border: 2px solid #000000;
  border-radius: 50px 0 0 50px;
  padding-left: 48px;
}

.search-section::after {
  position: absolute;
  content: '';
  width: 16px;
  height: 16px;
  background-image: url("/icon/search.png");
  left: 4%;
  top: 28%;
  z-index: 1;
}

.button-search {
  width: 160px;
  height: 46px;
  border: 2px solid #000000;
  border-radius: 0 50px 50px 0;
}

.enter {
  width: 231px;
  margin-left: 30px;
  text-decoration: none;
  color: #000000;
  position: relative;
}

.enter::before {
  position: absolute;
  content: '';
  width: 16px;
  height: 16px;
  background-image: url("/icon/enter.png");
  left: 50%;
  top: 50%;
  transform: translate(-97px, -17px);
}

.main-nav-user-list {
  display: flex;
  flex-wrap: no-wrap;
  max-width: 250px;
  margin-left: 26px;
  list-style-type: none;
  margin: 0 auto;
}

.main-nav-user-compare, .main-nav-user-cart {
  width: 120px;
}

.compare-text, .card-text {
  text-decoration: none;
  color: #000000;
  position: relative;
}

.compare-text::before {
  position: absolute;
  content: '';
  width: 16px;
  height: 16px;
  background-image: url("/icon/compare.png");
  left: 50%;
  top: 50%;
  transform: translate(-65px, -9px);
}

.card-text::before {
  position: absolute;
  content: '';
  width: 16px;
  height: 16px;
  background-image: url("/icon/busket.png");
  left: 50%;
  top: 50%;
  transform: translate(-60px, -9px);
}

.main-container {
  flex-grow: 1;
  margin-top: -52px;
}

.main-nav-list {
  display: flex;
  width: 1040px;
  margin: 30px 60px;
  position: relative;
}

.main-nav-list::before {
  position: absolute;
  content: '';
  width: 50px;
  height: 50px;
  background-image: url("/icon/plus in circle.png");
  left: 50%;
  top: 50%;
  transform: translate(-278px, -54px);
}

.catalog {
  display: flex;
  padding-left: 0;
}

.catalog-item {
  width: 293px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  list-style-type: none;
}


.catalog-item-delivery, .catalog-item-contacts, .catalog-item-goods, .catalog-item-guarantee {
  text-decoration: none;
  color: #000000;
  letter-spacing: 0.2rem;
}

.subcatalog {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  text-transform: none;
  list-style-type: none;
}

.main-menu {
  display: flex;
  margin-left: 127px;
}

.catalog-item-delivery, .catalog-item-guarantee {
  width: 125px;
  padding-right: 47px;
}

.catalog-item-second {
  width: 125px;
  padding-right: 47px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  list-style-type: none;
  line-height: 21px;
}

.catalog-item-second:nth-child(3) {
  padding-right: 0;
}

.slider-wrapper {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  margin-right: 40px;
  width: 400px;
  height: 400px;
}

.slider-decor {
  width: 250px;
  height: 135px;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  color: #FFFFFF;
  position: absolute;
  margin-left: 297px;
  margin-top: -20px;
}

.promo-slider-descr-wrap {
  display: flex;
  flex-direction: column;
  margin-left: 93px;
}

.promo-slider-descr-wrap h2 {
  margin-top: 25px;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  z-index: 1;
}

.details {
  width: 220px;
  height: 40px;
  margin-top: 50px;
  border: none;
  background-color: transparent;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  position: relative;
}

.details:after {
  content: '';
  position: absolute;
  width: 220px;
  height: 9px;
  background-color:#FFE17F;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

dl {
  display: flex;
  flex-wrap: wrap;
  width: 307px;
}

.tech {
  display: flex;
}

.first-tech {
  display: flex;
  flex-direction: column;
}

.second-tech {
  display: flex;
  flex-direction: column;
}

.promo-slider-advantages-first-meter {
  font-size: 36px;
  line-height: 30px;
}

.promo-slider-advantages-second-meter {
  font-size: 36px;
  line-height: 30px;

}

.promo-slider-descr-first {
  margin-top: 12px;
  margin: 0;

}

.promo-slider-descr-second {
  margin-top: 12px;
  margin: 0;
}

.arrow-left, .arrow-right {
  background-color: transparent;
  border: none;
}

.indicators-list-item {
  display: flex;
  margin-top: 26px;
  width: 76px;
  justify-content: space-between;
  margin: 0 auto;
  list-style-type: none;
}

.first {
  width: 12px;
  height: 12px;
  background-color: #000000;
  border-radius: 50%;
  border: 1px solid #000000;
}

.second, .third {
  width: 12px;
  height: 12px;
  border: 1px solid #000000;
  border-radius: 50%;
}

.catalogue-caterogies-list {
  display: flex;
  margin: 0 auto;
  margin-top: 70px;
  width: 1160px;
  justify-content: space-around;
  align-content: flex-start;
}

.catalogue-categories {
  width: 160px;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  background-color:#FFE17F;
}

.square-monopod {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 160px;
  height: 160px;
  background-color:#FFE17F;
}
/*Здесь text-decoration: none не сработал*/
.cotalogue-categories-descr {
  font-family: 'Raleway' sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
  margin-top: 32px;
}

.property {
  margin-top: 70px;
  margin-left: 140px;
  margin-right: 140px;
  display: flex;
  justify-content: center;
}

.service-control {
  list-style-type: none;
  margin: 0;
  position: relative;
}

.details-property {
  width: 160px;
  height: 40px;
  border: none;
  background-color: transparent;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 9px 120px 11px 0;
  margin-bottom: 55px;
  position: relative;
}

.details-property::after {
  content: '';
  position: absolute;
  width: 140px;
  height: 10px;
  background-color:#FFE17F;
  left: 50%;
  top: 50%;
  transform: translate(-63%, -50%);
  z-index: -1;
}

.details-property-delivery {
  width: 220px;
  height: 40px;
  border: none;
  background-color: transparent;
  color: #FFE17F;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 9px 120px 11px 0;
  margin-top: 64px;
  margin-bottom: 56px;
  position: relative;
}

.details-property-delivery::after {
  content: '';
  position: absolute;
  width: 280px;
  height: 40px;
  background: #000000;
  left: 50%;
  top: 50%;
  transform: translate(-70%, -50%);
  z-index: -1;
}

.service-control::after {
  content: '';
  position: absolute;
  width: 7px;
  height: 319px;
  background: #000000;
  left: 90%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.details-property-credit {
  width: 160px;
  height: 40px;
  border: none;
  background-color: transparent;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 9px 120px 11px 0;
  margin-bottom: 75px;
  position: relative;
  left: 50%;
  transform: translateX(-100px);
}

.details-property-credit::after {
  content: '';
  position: absolute;
  width: 140px;
  height: 10px;
  background-color:#FFE17F;
  left: 50%;
  top: 50%;
  transform: translate(-75%, -50%);
  z-index: -1;
}

.delivery-info {
  width: 694px;
  margin: 73px 16px 73px 100px;
}

.property-delivery {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  position: relative;
}

.property-delivery-descr {
  width: 452px;
  margin-top: 34px;
}

.property-delivery::after {
  content: '';
  position: absolute;
  width: 136px;
  height: 160px;
  right: 350px;
  background: url(/icon/delivery-man.png);
  left: 50%;
  top: 50%;
  transform: translate(150%, -20%);
}

.delivery-info::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 289px;
  background-color: #F0F0F0;
  z-index: -2;
  left: 0;
  transform: translateY(-145px);
}

.wrapper-banner {
  display: flex;
  justify-content: center;
}

.banner {
  width: 1160px;
  display: flex;
  justify-content: center;
  margin: 70px 140px;
  background-color: #F0F0F0;
}

.banner-car-logo {
  width: 125px;
  height: 100px;
  background-color: #FFE17F;
  position: relative;
}

.banner-car-logo:before {
  content: '';
  position: absolute;
  width: 47px;
  height: 31px;
  left: 50%
  top: 50%;
  background: url(/icon/lorry.png);
  transform: translate(40px, 35px);
}

.banner-text {
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  width: 910px;
}

.banner-info {
  width: 40px;
  height: 40px;
  background-color: #DCDCDC;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 30px;
}

.info-i {
  color:#000000;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  position: relative;
  top: 5px;
}

.wrapper-about-us-contacts {
  display: flex;
  justify-content: center;
}

.about-us {
  width: 520px;
  margin-bottom: 52px;
  margin-right: 108px;
  min-height: 493px;
}

.about-us-heading {
  position: relative;
}

.about-us-heading::before {
  position: absolute;
  content:'';
  width: 84px;
  height: 7px;
  background-color: #000000;
  transform: translateY(-40px);
}

.about-us-wrapper-text {
  width: 497px;
  height: 60px;
  color: #444444;
}

.about-us-list {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  padding-left: 0;
}

.about-us-list li {
  margin: 20px;
}

/*Тут не смогла настроить желтые точки*/
.yellow-list ul {
  color: #FFE17F;
}

.point li {
  color: #444444;
}

.button-about-us {
  width: 360px;
  height: 40px;
  border: none;
  background-color: transparent;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 9px 120px 11px 0;
  margin-bottom: 75px;
  position: relative;
}

.button-about-us::after {
  content: '';
  position: absolute;
  width: 260px;
  height: 10px;
  background-color:#FFE17F;
  left: 50%;
  top: 50%;
  transform: translate(-75%, -50%);
  z-index: -1;
}

.contacts {
  width: 532px;
}

.about-us-contacts {
  position: relative;
}

.about-us-contacts::before {
  position: absolute;
  content:'';
  width: 84px;
  height: 7px;
  background-color: #000000;
  transform: translateY(-40px);
}

.contacts-address {
  font-style: normal;
}

.button-contacts {
  width: 360px;
  height: 40px;
  border: none;
  background-color: transparent;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 9px 120px 11px 0;
  margin-bottom: 75px;
  position: relative;
}

.button-contacts:before {
  content: '';
  position: absolute;
  width: 260px;
  height: 10px;
  background-color:#FFE17F;
  left: 50%;
  top: 50%;
  transform: translate(-75%, -50%);
  z-index: -1;
}

.distribution {
  height: 421px;
  background-color: #F0F0F0;
}



.sign-up-wrapper {
  display: flex;
  justify-content: center;
}

.sign-up-descr {
  width: 560px;
  margin-top: 74px;
  margin-left: 252px;
}

.subscription-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.field {
  width: 557px;
  height: 55px;
  background-color: #F0F0F0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid #C4C4C4;
}

.newsletter-button {
  width: 253px;
  height: 57px;
  border: 3px solid #C4C4C4;
  background-color: transparent;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;
}

.for-free {
  margin-left: 188px;
  position: relative;
}

.for-free:before {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  top: 50%;
  background: url(/icon/tick-green.png);
  transform: translate(-20px, -8px);
}

.footer-container {
  display: flex;
}

.page-footer {
  height: 321px;
  background-color: #444444;
  display: flex;
  justify-content: center;
}

.page-footer-first {
  width: 240px;
  display: flex;
  flex-direction: column;
  margin-top: 62px;
}

.footer-contacts-address-text {
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  margin-top: 35px;
  color:#FFFFFF;
}

.page-footer-nav {
  width: 747px;
  display: flex;
  justify-content: center;
}

.nav-footer {

}

.footer-nav-list {
  margin-top: 137px;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.main-nav-item {
  width: 140px;
  text-decoration: none;
  color: #FFFFFF;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
}

.footer-social-list {
  margin-top: 62px;
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding: 0;
}

.footer-social-item {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-footer-phone {
  margin-top: 140px;
}

.footer-phone {
  display: flex;
  flex-direction: column;
}

.contacts-phone {
  font-size: 16px;
  color: #FFFFFF;
}

.footer-logo {
  width: 115px;
  height: 33px;
  margin-top: 63px;
  margin-left: 30px;
}
